/* 主容器 */
.main-container {
    max-width: 2000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
}

/* 标题样式 */
.search-title {
    margin-bottom: 20px;
}

.search-title h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

/* 搜索表单容器 */
.search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 搜索表单每行布局 */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-row .el-form-item {
    flex: 1;
}


/* 表格容器 */
.table-container {
    margin-top: 20px;
}

.table-container .el-table {
    border: none; /* 去掉表格默认边框 */
}

.table-container .el-table th {
    background-color: #f5f7fa; /* 表头背景 */
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-align: center; /* 居中 */
}

.table-container .el-table td {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.table-container .el-table tr:hover td {
    background-color: #f9f9f9; /* 行悬浮高亮 */
}

/* 分页容器 */
.pagination-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
